#logo {
  max-height: 40px;
  width: auto;
}
body {

}

nav{
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  border-top: 0,7px #CCC solid;
  border-bottom: 0,7px #CCC solid;
  box-shadow: 0px 1px 1px 1px #CCC;

}
nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;

}

.nav li {
  display: inline-block;
  width: 20% ;
}

.nav a {
  text-decoration: none;
}

#article-title {
  font-size: 3em;
  font-family: 'Spectral SC', serif;
}

#article-subtitle {
  font-size: 2em;
  font-style: italic;
  color: #5d5d5d;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 8px 0px 8px;
}

.article-heading {
  border-bottom: 0.7px #CCC solid;

}
.related-articles {
  text-align: center;
}

.related-article {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin-left: 40px;
}
.m-l-100 {
  margin-left: 100px;
}

.article-content {
  width: 60%;
  display: inline-block;
}

.most-popular {
  vertical-align: top;
  width: 30%;
  display: inline-block;

}

.illusion {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

#picture {
  max-width: 180px;
  height: auto;
}

.footer {
  height: 80px;
  background-color: black;
  color: white;
  margin-left: -8px;
  margin-right: -8px;
  text-align: center;
}

.footer a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  /*line-height: 80px;*/
  position: relative;
  top: 50%;
  display: inline-block;
  transform: translateY(-50%);

}
