<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NewYorker</title>
  </head>
  <body>
    <img src="static/logo.svg" alt="The NewYorker">
    <ul>
      <li><a href="https://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9uZXdz">News</a>
      <li><a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9jdWx0dXJl">Culture</a>
      <li><a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9ib29rcw==">Books</a>
      <li><a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9odW1vcg==">Humor</a>

    </ul>
    <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9tYWdhemluZS9ib29rcw==">Books</a><br>
    <a href="https://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9tYWdhemluZS8yMDE3LzExLzI3">November 27,2017 issue</a>
    <h3><strong>What Mary Oliver's Critics Don't Understand</strong></h3>
    <h2>For America's most beloved poet, paying attention to nature is a springboard to the sacred.</h2>
    By <a href="https://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9jb250cmlidXRvcnMvcnV0aC1mcmFua2xpbg==">Ruth Franklin</a>
    <div class="">
    <ul>
      <li><img src="static/facebook.svg" alt=""></li>
      <li><img src="static/twitter.svg" alt=""></li>
      <li><img src="static/email.svg" alt=""></li>
      <li></li>
      <img src="static/img.jpg" alt="">
    </ul>
    </div>
    <p><strong>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Oliver uses nature as a springboard to the sacred - the beating heart of her work</strong></p>
    <h5>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Illustration by Deanna Halsall</h5>
    <p>`Mary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's novel "The An scrawls in the margins of O1ivcr's "New and Solecced Poems, Volume Ono." A struggling poet, Chowder is suffering from a severe case of writer's block. His girlfriend, with whom he's lived for eight years, has just left hicri, ostensibly because lie has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones Louise Bogan, Theodore Roethke, Sara Teasdale- before discovering Oliver. In her work, he finds consolation: "I immediately felt more sure of hat I was doing.." Of her poems, he says, "They're very simple. And yet each has something."</p>
    <ul>
      <p>
        &nbsp; I don't know exactly what prayer is.<br>
        &nbsp; I do know how to pay attention, how to fall down <br>
        &nbsp;to the grass, how to kneel down in the grass, <br>
        &nbsp;  how to be idle and blessed , how to stroll through the fields,<br>
        &nbsp;which is what I have been doing all day.
      </p>
    </ul>
    <p>The cadences are almost Biblical."Attention is the. beginning of devotion," she urges elsewhere. </p>
    <p>This article appears in the print edition of the -November 27,2017, issue, with the headline "The Art of Paying Attention."</p>
    <h3>Most popular</h3>
    <ul>
      <li>1.</li>
      Letter from washinton
      <p></p>
      <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9tYWdhemluZS8yMDE3LzEwLzIzL3RoZS1kYW5nZXItb2YtcHJlc2lkZW50LXBlbmNl">The Danger of President Pence</a>
      <p></p>
      By <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9jb250cmlidXRvcnMvamFuZS1tYXllcg==">Jane Mayer</a>
      <li>2.</li>
      Our Columnists
      <p></p>
      <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9uZXdzL291ci1jb2x1bW5pc3RzL25vLWVuZC1pbi1zaWdodC10by10aGUtYnJleGl0LW1hZG5lc3M=">No End in Sight to the Brexit Madness</a>
      <p></p>
      By <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9uZXdzL291ci1jb2x1bW5pc3RzL25vLWVuZC1pbi1zaWdodC10by10aGUtYnJleGl0LW1hZG5lc3M=">John Cassidy</a>
      <li>3.</li>
      Satire from The Borowitz Report
      <p></p>
      <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9odW1vci9ib3Jvd2l0ei1yZXBvcnQvbXVlbGxlci1yZW50cy1naWFudC13YXJlaG91c2UtdG8tc3RvcmUtZXZpZGVuY2UtYWdhaW5zdC10cnVtcA==">Mueller Refits Giant warcho use to Store Evidence Against Trump </a>
      <p></p>
      By <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9jb250cmlidXRvcnMvYW5keS1ib3Jvd2l0eg==">Andy Borowitz</a>

    </ul>
    Daily Cartoon
    <h2><a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9jYXJ0b29ucy9kYWlseS1jYXJ0b29uL2ZyaWRheS1ub3ZlbWJlci0yNHRoLWZpdmUtdHdlbnR5LWJsYWNrYmlyZHM=">Daily Cartoon: Friday, November 24th

</a></h2>
  <h2><strong>Forgetting the garnish.</h2>
    <p>By <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9jb250cmlidXRvcnMvbGlhbmEtZmluY2s=">Liana Finck</a></p>
    <p>Nov.24,27<br>
      Elements
    </p>
    <h2><a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS90ZWNoL2VsZW1lbnRzL2F0LWJlcmtlbGV5LWEtbmV3LWdlbmVyYXRpb24tb2YtZXRoaWNhbC1oYWNrZXJzLWxlYXJucy10by13YWdlLWN5YmVyd2Fy">At Berkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity  </a></h2>
    <h2>How long would it take a junior computer-science major to disrupt an election?</h2>
    <p>By <a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9jb250cmlidXRvcnMvYW5uYS13aWVuZXI=">Anna Wiener</a></p>
    <p>Nov.24,27</p>
    <p><a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9wb2RjYXN0L3RoZS1uZXcteW9ya2VyLXJhZGlvLWhvdXI=">Listen to the New Yorker Radio Hour</a></p>
    <p><a href="http://getfireshot.com/pdf_aHR0cDovL3d3dy5jb25kZW5hc3RzdG9yZS5jb20vLXN0L05ldy1Zb3JrZXItQ292ZXJzLVByaW50c19jMTQ3MjQ3Xy5odG0=">Buy the Cover</a></p>
    <p><a href="http://getfireshot.com/pdf_aHR0cHM6Ly93d3cubmV3eW9ya2VyLmNvbS9qaWdzYXc=">Play the Jigsaw Puzzle </a></p>

  </body>
</html>
