<!DOCTYPE html>
<html>
  <head>
    <title>Geocoding service</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        width: 300px;
        height: 400px;
      }

      #floating-panel {
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <div id="floating-panel">
      <input class="address" id="address" type="textbox" value="22 Thành Công">
      <input class="submit" id="submit" type="button" value="Show location">
    </div>
    <div id="map"></div>
    <script src="../static/js/geolocation.js" type="text/javascript">

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVu3d_FHZGs_4iUOMyrKGROPX5OhQD_Tw&callback=initMap">
    </script>
  </body>
</html>
