<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Yorker</title>
  </head>
  <body>
    <img src="static/logo.svg" alt="">
    <ul>
      <li>
        <a href="#">News</a>
      </li>
      <li>
        <a href="#">Culture</a>
      </li>
      <li>
        <a href="#">Books</a>
      </li>
      <li>
        <a href="#">Humor</a>
      </li>
    </ul>

    <a href="#">Books</a>
    <br>
    <a href="#">November 27, 2017 Issue</a>
    <h3>What Mary critics don't understand</h3>
    <h2>For America's most beloved poet, paying attention to nature is a springboard to sacred</h2>
    <p>By <a href="#">Ruth Franklin</a></p>
    <ul>
      <li><img src="static/facebook.svg" alt=""></li>
      <li><img src="static/twitter.svg" alt=""></li>
      <li><img src="static/email.svg" alt=""></li>
    </ul>
    <img src="static/img.jpg" alt="">
    <p>Oliver uses nature</p>
    <small>Illusion by blah blah</small>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <blockquote cite="http://">
      Lorem ipsum dolor sit amet, <br>
      consectetur adipisicing elit, <br>
      sed do eiusmod tempor incididunt <br>
      ut labore et dolore magna aliqua.
    </blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h3>Most popular</h3>
    <ol>
      <li>
        <p>Letter from Washington</p>
        <a href="#">The danger of President Pence</a>
        <p>By <a href="#">Jane Mayer</a></p>
      </li>
      <li>
        <p>Letter from Washington</p>
        <a href="#">The danger of President Pence</a>
        <p>By <a href="#">Jane Mayer</a></p>
      </li>
      <li>
        <p>Letter from Washington</p>
        <a href="#">The danger of President Pence</a>
        <p>By <a href="#">Jane Mayer</a></p>
      </li>
    </ol>

    <div class="">
      <span>Daily cartoon</span>
      <a href="#">
        <h2>Friday November 24th</h2>
      </a>
      <h2>Forgetting the garnish.</h2>
      <p>By <a href="#">Lina Finck</a></p>
      <span>Nov. 24, 2017</span>
    </div>

    <div class="">
      <span>Daily cartoon</span>
      <a href="#">
        <h2>Friday November 24th</h2>
      </a>
      <h2>Forgetting the garnish.</h2>
      <span>By <a href="#">Lina Finck</a></span>
      <span>Nov. 24, 2017</span>
    </div>

    <div class="">
      <a href="#">
        <h4>Listen to the NewYorker Radio Hour</h4>
      </a>
      <a href="#">
        <h4>Buy the cover</h4>
      </a>
      <a href="#">
        <h4>Play the JigSaw Puzzle</h4>
      </a>
    </div>

  </body>
</html>
